*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    width: 100vw;
}
.card a:hover, .download a:hover{
    background-color: rgb(226, 0, 26);
    color: #fff;
}

header{
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
    background-color: rgb(32, 35, 119);
    text-shadow: 1px 1px 1px rgb(226, 0, 26);
    color: #fff;   
}
main{
    margin: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 800px;
    margin: 10px auto;
}

.card{
    padding: 15px;
    margin: 5px;
    width: 100%;

}
.card p{
    width: 100%;
    height: 100%;
}
.card h2{
    margin-bottom: 10px;
    text-decoration: underline;
}
.card h3{
    margin-bottom: 5px;
}


.download{
    margin: 10px auto;
    max-width: 800px;
    width: 100vw;
}
.arquivos{
    margin: 5px;
    padding: 15px;
}


footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(233, 233, 233, 0.897);

}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
}
.redes a{
    border-radius: 50%;
}

iframe {
    width: 80%;
}
.contatos {
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.contatos p {
    margin: 10px;
}

footer a:hover {
    scale: 1.3;
}